

/* Space out content a bit */

body
{
    padding-top: 20px;
    font-family: Gudea, serif;
    background-image: url('http://res.cloudinary.com/ignitemx/image/upload/q_auto:good/v1475043070/Sol-Margaritas/sol-margaritas-2298796.jpg');
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Rancho, serif;
}

#text-headliner
{
    font-family: Flavors, cursive;
}

#container-map
{
    min-height: 300px;
    text-align: center;
}

#containerSheet
{
    background-color: white;
    padding: 30px 15px 30px 15px;
    border-radius: 5px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer
{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */

.header
{
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3
{
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 25px;
}

/* Custom page footer */

.footer
{
    padding-top: 19px;
    color: #265400;
    text-align: center;
    font-size: xx-large;
}

/* Customize container */

@media (min-width: 768px)
{
    .container
    {
        width: 960px;
    }
}

.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron
{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn
{
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */

.marketing
{
    margin: 40px 0;
}

.marketing p + h4
{
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px)
{
/* Remove the padding we set earlier */
    .header,
  .marketing,
  .footer
    {
        padding-right: 0;
        padding-left: 0;
        vertical-align: middle;
    }
/* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }
/* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}

.img-logo
{
    vertical-align: middle;
}

